.w3-theme-l5 {color:#000 !important; background-color:#f6fff9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e0ffec !important}
.w3-theme-l3 {color:#000 !important; background-color:#c2ffd9 !important}
.w3-theme-l2 {color:#000 !important; background-color:#a3ffc6 !important}
.w3-theme-l1 {color:#000 !important; background-color:#85ffb4 !important}
.w3-theme-d1 {color:#000 !important; background-color:#42ff8b !important}
.w3-theme-d2 {color:#000 !important; background-color:#1fff75 !important}
.w3-theme-d3 {color:#fff !important; background-color:#00fa60 !important}
.w3-theme-d4 {color:#fff !important; background-color:#00d652 !important}
.w3-theme-d5 {color:#fff !important; background-color:#00b344 !important}

.w3-theme-light {color:#000 !important; background-color:#f6fff9 !important}
.w3-theme-dark {color:#fff !important; background-color:#00b344 !important}
.w3-theme-action {color:#fff !important; background-color:#00b344 !important}

.w3-theme {color:#000 !important; background-color:#68ffa3 !important}
.w3-text-theme {color:#68ffa3 !important}
.w3-border-theme {border-color:#68ffa3 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#68ffa3 !important}
.w3-hover-text-theme:hover {color:#68ffa3 !important}
.w3-hover-border-theme:hover {border-color:#68ffa3 !important}
